<nav class="bg-white shadow-lg backdrop-blur-sm bg-opacity-90">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img class="h-20" src="/img/logo.png" alt="Logo" class="logo"></a>
        </a>

        <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex font-bold">
                <li class="nav-item">
                    <a href="/" class="text-black mx-4 relative" aria-current="page">الصفحة الرئسية</a>
                </li>
                <li>
                <a href="/check-status" class="text-black mx-4">التحقق من الحالة</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="text-black mx-4 relative">من نحن</a>
                </li>

                {{#if user}}
  <!-- Chef Menu -->
  {{#if (eq user.role_user 'chef_dentreprise')}}
    <li><a href="/services" class="text-black mx-4">تسجيل معطيات</a></li>
    <li><a href="/getservices" class="text-black mx-4">المحتوى</a></li>
  {{/if}}

  <!-- Gerant Menu -->
  {{#if (eq user.role_user 'gerant')}}
    <li><a href="/getreports" class="text-black mx-4">التقارير</a></li>
    <li><a href="/report" class="text-black mx-4">إنشاء تقرير</a></li>
  {{/if}}

  <!-- Directeur Menu -->
  {{#if (eq user.role_user 'directeur')}}
    <li><a href="/results" class="text-black mx-4">النتائج</a></li>
    <li><a href="/admin/pending-accounts" class="text-black mx-4">الحسابات المعلقة</a></li>
  {{/if}}

  <!-- Shared Menu Items -->
  <li><a href="/check-status" class="text-black mx-4">التحقق من الحالة</a></li>
  <li><a href="/logout" class="text-black mx-4">تسجيل الخروج</a></li>
{{/if}}
            </ul>
        </div>
    </div>
</nav>
