<div class="w-96 text-surface dark:text-white mr-4"
  style="max-width:15%; height:600px; border: 2px solid black; padding: 1px; background-color:rgb(83, 216, 83);">
 
  <a href="/services"
   class="block w-full rounded-lg p-4 text-start transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
    بناء بيت حفظ معدات
  </a>
  <a href="/services"
    class="block w-full rounded-lg p-4 text-start transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
    مسكن ريفي
  </a>
  <a href="services"
    class="block w-full rounded-lg p-4 text-start transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
    اسطبل
  </a>
  <a href="services"
    class="block w-full rounded-lg p-4 text-start transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
    وحدةتبريد
  </a>
  <a href="services"
    class="block w-full rounded-lg p-4 text-start transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
    حفر بئر
  </a>
</div>