<section class="login-container">
  <div class="login-card animate-fade-in-up">
    <h1 class="login-title animate-slide-in-right animate-delay-100">تم تسجيل حسابك بنجاح، الحساب في انتظار الموافقة من المدير</h1>    
  </div>
</section>

